body{
    text-align: center;
    background-color:orange;
    font-size: 22px;
}
#btn1{
    background-color: black;
    font-size: 15px;
    border: 2px white solid;
    border-radius: 7px;
    color: white;
}
#btn2{
    background-color: black;
    font-size: 15px;
    border: 2px white solid;
    border-radius: 7px;
    color: white;
}